.abteilung {
  .uebersicht {
    display: flex;

    .piktogramm {
      img {
        padding-right: 2.5em;
      }
    }

    .informationen {
      h1 {
        font-size: 4em;
        color:$tgv-rot;
        .muted {
          font-size: 0.8em;
          font-weight:100;
        }
      }
      ul {
        list-style-type: none;
        padding-left: 0;
        li {

        }
      }
    }
  }

  .personen {
    ul {
      list-style-type: none;
      padding-left:0;
      text-align:center;
      li {
        display: inline-block;
        text-align: center;
        padding-right:2em;
        .person-avatar {
          width:100%;
          padding: 0.5em 0;
          img {

          }
        }
        .meta {
          width:100%;
        }
      }
    }
  }
}

@media only screen and (min-width: $width-mobile) {
  .wrap {
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: 100% auto;
  }
  .main {
    background: rgba(255,255,255,0.9);
    margin-top: 1em;
    margin-bottom: 3em;
    border-radius:0em 2em 0 0;
  }
}


@media only screen and (max-width: $width-mobile) {
  .abteilung {

    padding: 0 0.5em;

    .personen {
      ul {
        li {
          padding-right:0;
        }

      }
    }

    .uebersicht {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .piktogramm {
        img {
          max-width: 100px;
          max-height: 100px;
          padding-left: 0.5em;
        }
      }

      .informationen {
        flex: 1;
        h1 {
          text-align: right;
          font-size: 2em;
        }
        ul {
          list-style-type: none;
          padding-left: 0;
          text-align: right;
          padding-right:0;
          li {
            display: inline-block;
            padding-right:0;
            &.contact {
              width: 3em;
              height: 3em;
              border-radius: 0.3em;
              background: $white;

              a {
                display: block;
                width: 100%;
                height: 100%;

                .link {
                  display: none;
                }
              }

              &.email {
                background-image: url($tgv-icon-mail);
                background-size: 100%;
                background-repeat: no-repeat;
              }

              &.website {
                background-image: url($tgv-icon-web);
                background-size: 100%;
                background-repeat: no-repeat;
              }

              .label {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
