.countdown {
  background-color: $tgv-rot;
  width: 100%;
  height: 100vh;
  .wrapper {
    background-color: $white;
    display:flex;
    justify-content: space-around;
    margin:1.5em;
    padding:2em;
    .content {

      text-align:center;
    }

    .sidebar {

    }
  }
}
